body {
  background-image: url("../images/bike.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  position: absolute;
  left: 8%;
  top: 10%;
  text-decoration: none;
  color: rgba(244, 244, 244, 0.759);
  font-size: 150%;
}

.redirect-container {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redirect-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 50px;
}


#totoro{
  width: 150px;
  height: 200px;
}

#sootsprite{
  width: 200px;
  height: 200px;
}

#ponyo{
  width: 200px;
  height: 200px;
}

#kikicat{
  width: 200px;
  height: 200px;
}