body{
    background: #f4d9d9;
    font-family: "Lucida Handwriting", cursive;
}

#heading{
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#cheesecakelink{
    position: absolute;
    left: 20%;
    bottom: 25%;
    text-decoration: none;
    color: black;
    font-size: 150%;
}

#cheesecake{
    position: absolute;
    left: 13.6%;
    bottom: 30%;
}

#candclink{
    position: absolute;
    right: 14.5%;
    bottom: 25%;
    text-decoration: none;
    color: black;
    font-size: 150%;
}

#cookiesandcream{
    position: absolute;
    right: 13.6%;
    bottom: 30%;
}