body{
    background: #ecb1ef;
    font-family: "Verdana", sans-serif;
}

#crust{
    color: rgb(103, 66, 41);
}

#filling{
    color: rgb(136, 127, 2);
}

#ube{
    color: rgb(116, 32, 116)
}

#ubepie{
    position: absolute;
    right: 15%;
    bottom: 22.5%;
}



